@font-face {
    font-family: 'Kabel';
    src: url("./public/uploads/fonts/Semplicita%20Light.otf");
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: #050b14;
    color: #ffffff;
    font-family: 'Segoe UI', Roboto, Arial, sans-serif;
    text-transform: uppercase;
    margin: 0;
    line-height: 1.6;
}

/* Header*/
.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;
    background: rgba(5, 11, 20, 0.95);
    backdrop-filter: blur(10px);
    position: sticky;
    top: 0;
    z-index: 1000;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.logo-box {
    border: 2px solid #ffffff;
    padding: 5px 20px;
    font-size: 0.9rem;
    font-weight: bold;
    letter-spacing: 2px;
    transition: 0.3s ease;
}

.logo-box:hover {
    background: #ffffff;
    color: #000000;
}

.search-bar {
    display: flex;
    align-items: center;
    background: rgba(180, 210, 255, 0.06);
    border-radius: 20px;
    padding: 5px 20px;
    width: 350px;
    transition: 0.3s;
}



.search-bar:focus-within {
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
}

.search-bar input {
    background: transparent;
    border: none;
    color: white;
    padding: 8px;
    width: 100%;
    outline: none;
    font-size: 0.8rem;
}



.search-bar input::placeholder {
    color: white;
    opacity: 0.7;
}

.search-icon-button {
    background: transparent;
    border: none;
    color: white;
    cursor: pointer;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.user-icon-circle {
    width: 42px;
    height: 42px;
    background: linear-gradient(135deg, #4b6cb7, #1a2a3a);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.1rem;
    transition: transform 0.3s ease;
}

.user-icon-circle:hover {
    transform: scale(1.1);
}

/* Layout Container */
.content-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px 20px;
}

/* --- Banner--- */
/* --- Banner Principal --- */
.banner {
    height: 80vh;
    width: 100%;
    max-width: none !important;
    background-image:
        linear-gradient(rgba(5, 11, 20, 0.65),
            rgba(5, 11, 20, 0.65)),
        url("./public/uploads/imgsHTML/guitar.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    padding: 0 10%;
    box-sizing: border-box;
    color: white;
}

.banner-contenido {
    max-width: 600px;
}

.banner-titulo {
    font-family: "Kabel", sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 4.5rem;
    font-weight: 900;
    margin-bottom: 25px;
    line-height: 1;
    text-shadow: 2px 4px 10px rgba(0, 0, 0, 0.5);
}

.banner-texto {
    border-left: none;
    background: none;
    padding: 0;
    display: block;
    font-size: 1.1rem;
    margin-bottom: 30px;
    line-height: 1.4;
    font-weight: 300;
    text-transform: none;
    max-width: 90%;
}

.banner-comprar-btn {
    display: block;
    background: transparent;
    border: none;
    color: #ffffff;
    border: 2px solid white;
    padding: 18px 40px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s ease;
    letter-spacing: 2px;
}

.banner-comprar-btn:hover {
    background: #ffffff;
    color: #033788;
    transform: translateY(-3px);
}

.banner-comprar-btn a {
    color: inherit;
    text-decoration: none;
}

/* Ajuste para la flecha */
.carrusel-flecha {
    position: absolute;
    right: 5%;
    font-size: 3rem;
    color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
    transition: 0.3s;
    width: 6px;
    height: 160px;
    background: white;
}

.carrusel-flecha:hover {
    color: white;
    transform: translateX(5px);
}



/* --- Filtros Section --- */
.filtros-section {
    background-color: #1a2a3a;
    padding: 30px 0;
    color: white;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.filtro-label {
    font-size: 0.9rem;
    margin-bottom: 15px;
}

/* Formulario búsqueda */
.filtros-section {
    background-color: #09111d;
    padding: 50px 0;
    margin-top: -30px;
    position: relative;
    z-index: 5;
}

.search-filtro-bar {
    background: #0d1624;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    display: flex;
    align-items: center;
    padding: 10px 20px 10px 30px;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.4);
}

.filtro-item {
    display: flex;
    align-items: center;
    flex: 1;
}

.date-wrapper {
    display: flex;
    align-items: center;
    cursor: pointer;
    width: 100%;
}

.filtro-texto {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.main-label {
    color: #ffffff;
    font-weight: bold;
    font-size: 1rem;
    letter-spacing: 2px;
}

/* Filtro Fecha*/
#nombre-input {
    background: transparent;
    border: none;
    color: #ffffff;
    font-size: 1.1rem;
    width: 100%;
    outline: none;
    margin-top: 5px;
}





/*Buscar Botón */
.search-submit-btn {
    background-color: #ff3366;
    color: white;
    border: none;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    cursor: pointer;
    transition: transform 0.2s, background-color 0.2s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-submit-btn:hover {
    transform: scale(1.05);
    background-color: #ff5588;
}

.small-arrow {
    font-size: 0.6rem;
    margin-left: 5px;
}


/* --- Conciertos --- */
.concerts-section {
    padding: 50px 20px;
}

.section-header-line {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    padding: 15px 0;
    margin-bottom: 30px;
}

.section-header-line h2 {
    font-weight: 300;
    letter-spacing: 2px;
}

.expand-control {
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 0.7rem;
}

.expand-control i {
    font-size: 1.5rem;
    rotate: 180deg;
    transition: 400ms ease;
    cursor: pointer;
}

.conciertos {
    display: none;
}

.lista-eventos {
    display: none;
    gap: 20px;
    overflow-x: auto;
    padding-bottom: 20px;

}

.lista-eventos::-webkit-scrollbar {
    height: 8px;
}

.lista-eventos::-webkit-scrollbar-track {
    background: #1a1a1a;
    border-radius: 10px;
}

.lista-eventos::-webkit-scrollbar-thumb {
    background: linear-gradient(90deg, #4b6cb7, #ff3366);
    border-radius: 10px;
}


.event-card {
    min-width: 280px;
    max-width: 280px;
}

.card-img {
    background-color: #444;
    background-size: cover;
    background-position: center;
    aspect-ratio: 2/3;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.7rem;
    color: #ccc;
    margin-bottom: 15px;
    overflow: hidden;
}

.card-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.event-card h3 {
    font-size: 0.9rem;
    margin-bottom: 5px;
}

.event-card p {
    font-size: 0.7rem;
    opacity: 0.7;
}

/* Progress bar at bottom */
.scroll-progress-bg {
    width: 100%;
    height: 6px;
    border: 1px solid white;
    border-radius: 10px;
    margin-top: 40px;
    overflow: hidden;
}

.scroll-progress-fill {
    width: 30%;
    height: 100%;
    background: linear-gradient(90deg, #4b6cb7, #9b59b6);
}

/*Botones*/

.botones.evento {
    display: flex;
    flex-wrap: wrap;
    gap: 100px;
}

.reservar,
.editar,
.eliminar,
.crear-evento {
    background: transparent;
    border: 1px solid white;
    color: white;
    padding: 5px;
    cursor: pointer;
    text-align: center;
    text-transform: uppercase;
    transition: 200ms ease;
    margin-right: 10px;
}

.crear-evento {
    width: 100%;
    background: transparent;
    border: 1px dashed #ffffff;
    color: #ffffff;
    padding: 15px;
    margin-top: 20px;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

.crear-evento:hover {
    background: rgba(75, 108, 183, 0.1);
    border-style: solid;
}

a {
    color: white;
    text-decoration: none;
}

.reservar:hover,
.crear-evento:hover,
.crear-evento:hover>a {
    background: white;
    color: black;
}

.editar:hover {
    border: 1px solid rgb(27, 153, 29);
    color: rgb(34, 211, 37);
}

.eliminar:hover {
    border: 1px solid rgb(232, 14, 14);
    color: rgb(212, 24, 24);
}

/* --- FOOTER  --- */
.event-footer {
    background: #000;
    padding: 60px 0 20px 0;
    margin-top: 100px;
    text-align: center;
}

.footer-info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.info-item span {
    font-size: 0.7rem;
    color: #888;
}

.footer-links {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin: 30px 0;
    font-weight: bold;
}

.footer-links a {
    color: #888;
    transition: 0.3s;
    text-decoration: none;
}

.footer-social i {
    font-size: 1.5rem;
    margin: 10px;
    cursor: pointer;
}

.footer-bottom {
    margin-top: 40px;
    font-size: 0.7rem;
    border-top: 1px solid #222;
    padding-top: 20px;
}

/* Responsivo rápido */
@media (max-width: 900px) {

    .main-grid,
    .details-host-grid {
        grid-template-columns: 1fr;
    }

    .hero-event-name {
        font-size: 2rem;
    }

    .hero-bottom {
        flex-direction: column;
        align-items: flex-start;
    }
}