/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    
    background: linear-gradient(rgba(5, 11, 20, 0.541),
            rgba(5, 11, 20, 0.596)), url("./public/uploads/imgsHTML/image\ \(1\).webp") ;
    background-size: cover;
    background-position: top;
    
    background-attachment: fixed;
    color: white;
    text-transform: uppercase;
}


/* Layout Container */
.content-container {
    max-width: 900px;
    margin: 0 auto;
    padding: 40px 20px;
}

.page-title {
    font-weight: 300;
    border-bottom: 1px solid white;
    padding-bottom: 10px;
    margin-bottom: 30px;
    letter-spacing: 2px;
}


.section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid white;
    padding-bottom: 5px;
    margin-bottom: 25px;
}

.section-header h2 {
    font-size: 1.2rem;
    font-weight: 300;
}

/* Personal Data Layout */
.personal-data-grid {
    display: grid;
    grid-template-columns: 1fr 200px;
    gap: 30px;
    margin-bottom: 30px;
}

.form-inputs {
    display: flex;
    flex-direction: column;
    gap: 15px;
    color:#ffffff;
}
.form-inputs input{
    color:white;
}
.form-inputs input:focus{
    outline: none;
    border-color: #ffffff;
    box-shadow: 0 0 10px #ffffff;
    color: #ffffff;
}

.custom-input {
    background: transparent;
    border: 1px solid white;
    border-radius: 15px;
    height: 35px;
    width: 100%;
    padding: 20px;
}

.subir-archivo{
    background: transparent;
    border: 1px solid white;
    color: white;
    padding: 10px;
    cursor: pointer;
    text-align: center;
    text-transform: uppercase;
}

.perfil-img {
    align-self: center;
    text-align: center;
    width: 210px;
    height: 210px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    border: 2px solid white;
}

.perfil-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.botones{
    display: flex;
    flex-wrap: wrap;
    gap:20px;
}



.extra-info {
    font-size: 0.8rem;
    line-height: 2;
    border-bottom: 1px solid white;
    margin-bottom: 20px;
}

.modificar-btn {
    width: 100%;
    background: transparent;
    border: 1px solid white;
    color: white;
    padding: 10px;
    cursor: pointer;
    text-align: center;
    text-transform: uppercase;
    transition: 200ms ease;
}

.modificar-btn:hover {
    background: white;
    color: black;
}

.modificar-btn a:hover, .modificar-btn:hover > a{
    color:black;
}

a{
    color: white;
    text-decoration: none;
}
/* --- FOOTER  --- */
.event-footer {
    background: #000;
    padding: 60px 0 20px 0;
    margin-top: 100px;
    text-align: center;
}

.footer-info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.info-item span {
    font-size: 0.7rem;
    color: #888;
}

.footer-links {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin: 30px 0;
    font-weight: bold;
}
.footer-links a {
    color: #888;
    transition: 0.3s;
    text-decoration: none;
}

.footer-social i {
    font-size: 1.5rem;
    margin: 10px;
    cursor: pointer;
}

.footer-bottom {
    margin-top: 40px;
    font-size: 0.7rem;
    border-top: 1px solid #222;
    padding-top: 20px;
}

/* Responsivo rápido */
@media (max-width: 900px) {
    .main-grid, .details-host-grid {
        grid-template-columns: 1fr;
    }
    .hero-event-name { font-size: 2rem; }
    .hero-bottom { flex-direction: column; align-items: flex-start; }
}
